<li class="product-card__options-item js-sort-field-option" data-option="polish">
    <div class="product-card__options-name">
        {{ $lang['catalog_product_item_polish'] }}
    </div>
    <div class="product-card__options-value js-sort-field-option-value">
        {!! $product->getPolishValue('&mdash;') !!}
    </div>
</li>