<li class="product-card__options-item js-sort-field-option" data-option="symmetry">
    <div class="product-card__options-name">
        {{ $lang['catalog_product_item_symmetry'] }}
    </div>
    <div class="product-card__options-value js-sort-field-option-value">
        {!! $product->getSymmetryValue('&mdash;') !!}
    </div>
</li>