<div class="page-profile__container-tablet">
    <p class="page-profile__text">@lang('user_order_history_empty_text')</p>

    <a class="btn btn--transparent btn--lg" href="{{ get_language_version_href_prefix() }}/diamonds/">@lang('user_order_history_find_diamond')</a>
</div>
