<section class="page-catalog__header">
    @bxComponent('main:picture', '', [
        'path' => frontend()->img('diamonds.png'),
        'pathWebp' => frontend()->img('diamonds.webp'),
        'pathThumbnailWebp' => frontend()->img('diamonds_thumbnail.webp'),
        'classNameImg' => 'page-catalog__header-bg-img',
    ])

    <h1 class="page-catalog__caption">@lang('catalog_product_list_page_title')</h1>
</section>
